* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 11px 24px 11px 23px;
    display: inline-block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--primary-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.heading {
    font-style: normal;
    font-weight: 700;
    color: #0d1111;
}

.heading.lv1 {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 7.2rem; /* 116.129% */
}

.get-started-btn {
    padding: 20px 41px;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

/* Header */

.header {
    padding-top: 52px;
    padding-bottom: 20px;
}

.header.fixed {
    position: sticky;
    top: -32px;
    z-index: 2;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.header .nav ul {
    display: flex;
    gap: 40px;
}

.header .nav li a {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2f3a3b;
}

.header .nav li a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .action {
    display: flex;
    margin-left: 13%;
}

.header .sign-in-btn {
    font-weight: 400;
    color: #494949;
    border: transparent;
}

/* Hero */

.hero {
    padding-top: 30px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    width: 46%;
}

.hero .media-block {
    width: 54%;
}

/* Hero left */

.hero .content-block {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

.hero .content-block .label {
    margin-top: 93px;
    padding-bottom: 18px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #767e7e;
}

.hero .content-block .desc {
    display: inline-block;
    width: 64%;
    margin-top: 46px;
    margin-bottom: 52px;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
    color: #9da6a5;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero .cta-group .play {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

/* Hero right */

.hero .media-block {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hero .media-block .hero-image {
    width: calc(100% - 65px);
    /* height: 631px; */
    object-fit: cover;
    background-color: #e0f7f6;
}

.hero-summary-course {
    padding: 18px 25px;
    position: absolute;
    left: 3%;
    top: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary-course .label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0d1111;
}

.hero-summary-course .icon {
    position: relative;
    display: block;
}

.hero-summary-course .icon::after {
    position: absolute;
    bottom: 8px;
    left: 4px;
    display: block;
    content: "";
    width: 28px;
    height: 4px;
    background: #fff;
}

.hero-summary-schedules {
    position: absolute;
    left: 0;
    bottom: 46px;
    padding: 16px 25px 0 25px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary-schedules .label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0d1111;
}

.hero-summary-schedules .icon:first-of-type {
    padding-top: 6px;
}

.hero-summary-schedules .icon:nth-of-type(2) {
    padding-top: 2px;
}

.hero-summary-schedules .icon:nth-of-type(3) {
    position: relative;
    padding-bottom: 45px;
}

.hero-summary-schedules .icon:nth-of-type(3)::after {
    position: absolute;
    bottom: 23px;
    left: 24px;
    display: block;
    content: "";
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.active-students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.active-students {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 17px 35px;
}

.active-students > .label {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #0d1111;
}

.active-students .avatar-list {
    display: flex;
    padding-top: 7px;
}

.active-students .avatar-list .icon {
    border-radius: 50%;
}

.active-students .avatar-list .icon:nth-of-type(1) {
    background: #1ebfc1;
}
.active-students .avatar-list .icon:nth-of-type(2) {
    background: #ffc147;
}
.active-students .avatar-list .icon:nth-of-type(3) {
    background: #ff947a;
}
.active-students .avatar-list .icon:nth-of-type(4) {
    background: #bf83ff;
}
.active-students .avatar-list .icon:nth-of-type(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background: #1ebfc1;
}

.active-students .avatar-list .icon:nth-of-type(5) .label {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active-students .avatar-list .icon + .icon {
    margin-left: -8px;
}
